body {
  font-family: "Montserrat", system-ui;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  padding-top: 40px;
  justify-content: space-between;
  display: flex;
  min-height: 37px;
  max-width: 1312px;
  margin: 0 auto;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #333333;
}

.menu__list {
  display: flex;
  gap: 50px;
}

.menu__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #333333;
}

.phone__num {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-decoration: underline;
  color: #333333;
}

.menu__item:nth-child(1),
.arrow-menu,
.header__phone-menu,
.header__burger {
  display: none;
}

.burger {
  position: relative;
  width: 46px;
  height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger .line {
  height: 2px;
  background-color: #333333;
}

.burger::before,
.burger::after {
  content: "";
  background-color: #333333;
  height: 2px;
}

.banner {
  background-color: #fed100;
  height: 650px;
}

.banner__container {
  display: flex;
  align-items: center;
  max-width: 1312px;
  margin: 0 auto;
}

.banner__content {
  display: flex;
  flex-direction: column;
}

.banner__title {
  width: 480px;
  padding-top: 64px;
  padding-bottom: 28px;
  font-size: 70px;
  font-weight: 700;
  line-height: 73px;
  color: #333333;
}

.banner__text {
  padding-bottom: 50px;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #333333;
}

.banner-btn__container {
  position: relative;
  display: inline-block;
}

.border__btn {
  top: 10px;
  left: 10px;
  position: absolute;
  width: 304px;
  height: 60px;
  border: 2px solid #f2f2f2;
  z-index: 1;
  pointer-events: none;
}

.banner-btn__container:hover .border__btn {
  transition: 0.2s;
  background-color: #f2f2f2;
}

.banner__btn {
  position: relative;
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 96px;
  padding-right: 95px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  font-family: inherit;
  color: #f2f2f2;
  background-color: #ff352b;
  z-index: 2;
}

.banner__btn:hover{
  transition: 0.2s;
  background-color: #FF772B;
}

.banner__advantages {
  display: flex;
  padding-top: 64px;
  text-align: left;
}

.advantages__text {
  padding-left: 10px;
  width: 130px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.desktop-img-banner {
  display: block;
  padding-left: 169px;
  padding-top: 21px;
}

.tablet-img-banner,
.phone-img-banner,
.arrow-img-phone {
  display: none;
}

.process__container {
  margin-top: 96px;
  height: 343px;
}

.process__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  color: #333333;
  text-align: center;
  padding-bottom: 60px;
}

.process__steps {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
  gap: 48px;
}

.step__container {
  padding-left: 36px;
  display: block;
}

.step-img {
  width: 68px;
  height: 61px;
}

.step__title {
  width: 386px;
  padding-top: 6px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #333333;
}

.step__text {
  width: 390px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.step {
  display: flex;
}

.prices__container {
  padding-top: 102px;
  width: 1305px;
  height: 830px;
  text-align: center;
  margin: 0 auto;
}

.prices__title {
  padding-bottom: 16px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  color: #333333;
}

.prices__text {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #333333;
  padding-bottom: 60px;
}

.card__container {
  display: flex;
  width: 1305px;
  justify-content: space-between;
}

.card:nth-child(2) {
  border: 1px solid #fed100;
}

.card {
  width: 421px;
  height: 579px;
  display: flex;
  justify-content: center;
  border: 1px solid #ebebeb;
  cursor: pointer;
}

.card:hover{
  transition: 0.2s;
  box-shadow: 0px 5px 30px 1px rgba(34, 60, 80, 0.2);
}

.card__title {
  padding-top: 84px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #333333;
}

.card__items {
  padding-top: 60px;
  padding-bottom: 61px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.card-price-text {
  padding-bottom: 76px;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #333333;
}

.card-btn-order {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 77px;
  padding-right: 79px;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #333333;
  background-color: #fed100;
}

.card-btn-order:hover{
  transition: 0.2s;
  color: #f2f2f2;
  box-shadow: 0px 4px 24px 0px #FED100;
}

.card-btn-all-prices {
  display: none;
}

.autopark {
  height: 800px;
}

.autopark__container {
  padding-top: 102px;
  margin-bottom: 40px;
  width: 1221px;
  margin: 0 auto;
  text-align: center;
}

.autopark__title {
  padding-bottom: 16px;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #333333;
}

.autopark__text {
  padding-bottom: 60px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #333333;
}

.car-type-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.type-btn {
  display: flex;
  width: 201px;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #333333;
  border: 1px solid #ebebeb;
}

.type-btn._active {
  border: 1px solid #fed100;
}

.slider__container {
  display: flex;
}

.sliders {
  margin: 0 auto;
}

.slide {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.arrow-slider {
  padding-top: 233px;
}

.features__block {
  width: 250px;
  padding-top: 96px;
}

.feature__title {
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #333333;
}

.features__text {
  display: flex;
  flex-wrap: wrap;
  padding-top: 38px;
  padding-bottom: 47px;
  gap: 28px;
  width: 250px;
}

.feature__content {
  display: flex;
  width: 220px;
}

.feature {
  white-space: nowrap;
  padding-left: 16px;
  text-align: left;
  width: 230px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.slider-main-img {
  margin-top: 46px;
}

.feature-content-tablet {
  display: none;
}

.feedback {
  height: 666px;
  background-color: #fed100;
}

.feedback__container {
  text-align: center;
}

.feedback__title {
  padding-top: 100px;
  padding-bottom: 60px;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #333333;
}

.review__container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  padding-bottom: 76px;
}

.review {
  width: 420px;
  height: 248px;
  text-align: left;
}

.name-of-user {
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #333333;
}

.date-and-grade-container {
  display: flex;
  gap: 8px;
  padding-bottom: 20px;
}

.date-of-comments {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.review__text {
  width: 400px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.review-btn {
  display: flex;
  justify-content: center;
}

.all-review-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 50px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #333333;
  border: 1px solid #333333;
}

.all-review-btn:hover{
  transition: 0.2s;
  font-weight: 700;
  border: none;
  background-color: #ffffff;
  color: #333333;
}

.read__full,
.text-for-read-more,
.feedback__slider {
  display: none;
}

.feedback-form-container {
  width: 727px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 104px;
}

.contacts__container {
  padding-left: 11px;
  padding-right: 44px;
}

.feedback-form-title {
  padding-bottom: 10px;
  padding-top: 124px;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #333333;
}

.contacts-form-text {
  padding-bottom: 48px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.inp__contacts {
  padding-bottom: 64px;
  display: flex;
  gap: 70px;
}

.contact-inp {
  display: block;
  width: 300px;
  height: 34px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 14px;
  border-bottom: 1px solid #333333;
  color: #333333;
}

.select-city-container {
  display: flex;
  gap: 70px;
  padding-bottom: 62px;
}

.label-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #333333;
}

.select-inp {
  display: block;
  width: 300px;
  height: 34px;
  font-family: inherit;
  font-size: 16px;
  margin-top: 34px;
  border-bottom: 1px solid #333333;
  padding-bottom: 14px;
  color: #333333;
}

.pay-method-radio-btn {
  padding-top: 32px;
  padding-bottom: 64px;
  display: flex;
  width: 680px;
  justify-content: space-between;
}

.radio-inp {
  display: none;
}

.radio-btn-text {
  display: flex;
  height: 26px;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 40px;
  user-select: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.radio-btn-text::before {
  left: 0;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 100%;
  border: 2px solid #33333366;
  background-color: #f8f8f8;
}

.radio-inp:checked + .radio-btn-text::before {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid #fed100;
  background: url("/img/feedback-form/icons/radio-btn-selected.svg") 0 0
    no-repeat;
  background-position: center;
}

.additional-services-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #333333;
  padding-bottom: 34px;
  cursor: pointer;
}

.additional-services-checkBox {
  display: flex;
  gap: 40px;
  padding-bottom: 33px;
}

.additional-inp {
  display: none;
}

.add-checkbox {
  display: flex;
  white-space: nowrap;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 36px;
  user-select: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.add-checkbox::before {
  left: 0;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 2px;
  border: 2px solid #33333366;
  background-color: #f8f8f8;
}

.additional-inp:checked + .add-checkbox::before {
  width: 20px;
  height: 20px;
  border: 2px solid #fed100;
  border-radius: 2px;
  background: url("/img/feedback-form/icons/checked.svg") 0 0 no-repeat;
  background-position: center;
}

.order__wrapper {
  padding-top: 20px;
  display: flex;
}

.order-discount-time {
  width: 376px;
  font-size: 96px;
  font-weight: 400;
  line-height: 126px;
  color: #333333;
}

.order__container {
  padding-top: 20px;
  padding-left: 66px;
}

.feedback-form-order {
  position: relative;
  display: inline-block;
  padding-bottom: 22px;
}

.form-border {
  top: 10px;
  left: 10px;
  position: absolute;
  width: 250px;
  height: 50px;
  border: 2px solid #fed100;
  z-index: 1;
  pointer-events: none;
}

.form-btn {
  width: 250px;
  height: 50px;
  font-family: inherit;
  text-align: center;
  align-items: center;
  position: relative;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #f2f2f2;
  background-color: #ff352b;
  z-index: 2;
}

.form-btn::before {
  content: "Заказать со скидкой";
}

.personal-data {
  display: none;
}

.personal-data-label {
  display: flex;
  white-space: nowrap;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  user-select: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #333333;
}

.personal-data-label::before {
  left: 0;
  content: "";
  display: inline-block;
  width: 11.8px;
  height: 11.8px;
  position: absolute;
  border-radius: 2px;
  border: 2px solid #33333366;
}

.personal-data:checked + .personal-data-label::before {
  width: 16px;
  height: 16px;
  border: none;
  background: url("/img/feedback-form/icons/personal-data-checked.svg") 0 0
    no-repeat;
}

.map {
  width: 100%;
  height: 666px;
}

.map-contacts-tablet {
  display: none;
}

.footer {
  width: 100%;
  height: 401px;
  background-color: #fed100;
}

.footer__container {
  padding-top: 98px;
  width: 1300px;
  display: flex;
  gap: 200px;
  margin: 0 auto;
}

.footer__logo {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #333333;
}

.policy-agreement,
.personal-inf {
  width: 230px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
}

.policy-agreement {
  padding-top: 40px;
}

.personal-inf {
  padding-top: 36px;
}

.footer__item {
  padding-bottom: 16px;
}

.footer__link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #333333;
}

.footer__contacts {
  width: 308px;
  padding-top: 12px;
}

.footer__btn {
  text-align: center;
}

.callback__btn {
  margin-bottom: 6px;
  padding: 10px 30px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #333333;
  border: 1px solid #333333;
}

.phone-num {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #333333;
}

.phone-underline {
  margin: 0 auto;
  width: 171px;
  height: 1px;
  background-color: #333333;
}

.social {
  padding-top: 26px;
  display: flex;
  gap: 55px;
}

@media (max-width: 1024px) {
  .header__container {
    height: 50px;
    padding-left: 28px;
    padding-right: 33px;
    padding-top: 21px;
  }

  .header__menu {
    position: fixed;
    height: 1024px;
    width: 300px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    top: 0;
    right: 0;
    transform: translate(200%, 0px);
    transition: 0.3s ease;
    z-index: 2;
    background-color: #ffffff;
  }

  .arrow-menu {
    display: block;
    text-align: right;
    padding-top: 27px;
    padding-right: 46px;
  }

  .header__menu._active {
    transform: translate(0px, 0px);
  }

  .menu__list {
    padding-top: 100px;
    padding-bottom: 56px;
    display: block;
  }

  .menu__item {
    padding-left: 38px;
    padding-bottom: 40px;
  }

  .menu__item:nth-child(1) {
    display: block;
    background-color: #000000;
    width: 296px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .menu__item:nth-child(1) .menu__link {
    color: #f2f2f2;
  }

  .menu__link {
    font-size: 28px;
    line-height: 34px;
  }

  .header__phone-menu {
    display: block;
    text-align: center;
  }

  .phone__num {
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    padding-bottom: 8px;
  }

  .phone-menu-underline {
    width: 165px;
    border: 1px solid #333333;
    margin: 0 auto;
    border-radius: 1px;
  }

  .header__phone {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .banner {
    height: 1024px;
  }

  .banner__container {
    flex-direction: column;
    text-align: center;
  }

  .desktop-img-banner {
    display: none;
  }

  .banner__title {
    width: 596px;
    padding-top: 97px;
    padding-bottom: 10px;
    font-size: 56px;
    line-height: 66px;
    order: 1;
  }

  .banner__text {
    padding-bottom: 0px;
    font-weight: 600;
    font-size: 36px;
    order: 2;
  }

  .tablet-img-banner {
    position: relative;
    top: -45px;
    left: 30px;
    display: block;
    padding-top: 0;
    order: 3;
  }

  .banner-btn__container {
    padding-bottom: 0px;
    order: 4;
  }

  .border__btn {
    top: -40px;
    left: 115px;
    width: 383px;
    height: 76px;
  }

  .banner__btn {
    top: -50px;
    height: 76px;
    width: 383px;
    padding-top: 18px;
    padding-bottom: 28px;
    padding-left: 116px;
    padding-right: 117px;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 0px;
  }

  .banner__advantages {
    padding-top: 0px;
    padding-left: 25px;
    order: 5;
  }

  .process__container {
    margin-top: 101px;
    height: 812px;
  }

  .process__steps {
    padding-top: 40px;
    width: 600px;
    justify-content: center;
    gap: 24px;
  }

  .step-img {
    width: 112px;
    height: 106px;
  }

  .step__title {
    width: 460px;
    padding-top: 12px;
    padding-bottom: 17px;
    font-size: 24px;
  }

  .step__text {
    width: 425px;
  }

  .arrow-img-phone {
    display: none;
  }

  .prices {
    background-color: #f8fbff;
  }

  .prices__container {
    padding-top: 60px;
    width: 768px;
    height: 816px;
  }

  .process__title {
    padding-bottom: 12px;
  }

  .prices__text {
    width: 540px;
    margin: 0 auto;
    padding-bottom: 45px;
  }

  .card__container {
    width: 768px;
    justify-content: center;
  }

  .card:nth-child(2) {
    width: 358px;
    border: none;
  }

  .card:nth-child(1),
  .card:nth-child(3) {
    display: none;
  }

  .card__title {
    padding-top: 0px;
    font-size: 24px;
    font-weight: 500;
  }

  .card__items {
    padding-top: 45px;
    padding-bottom: 48px;
  }

  .card__text {
    height: 39px;
    font-size: 18px;
    line-height: 23px;
  }

  .card-price-text {
    padding-bottom: 45px;
  }

  .card-btn-order {
    padding-top: 20px;
    padding-bottom: 18px;
    padding-right: 114px;
    padding-left: 114px;
    font-size: 28px;
  }

  .card-btn-all-prices {
    padding-top: 48px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
    line-height: 32px;
    color: #333333;
  }

  .line-all-prices {
    width: 148px;
    border: 1px solid #333333;
    margin: 0 auto;
  }

  .autopark {
    height: 1000px;
  }

  .autopark__container {
    width: 550px;
  }

  .autopark__title {
    padding-bottom: 20px;
  }

  .autopark__text {
    padding-bottom: 46px;
  }

  .car-type-btn {
    width: 452px;
    justify-content: space-between;
    margin: 0 auto;
  }

  .type-btn {
    width: auto;
    height: 30px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    border: none;
  }

  .type-btn._active {
    font-weight: 500;
    border: none;
    border-bottom: 2px solid #fed100;
  }

  .slide {
    width: 550px;
    flex-direction: column;
  }

  .features__block {
    order: 2;
  }

  .slider-main-img {
    padding-top: 62px;
    padding-left: 18px;
    padding-bottom: 12px;
    order: 1;
  }

  .main-img {
    width: 518px;
  }

  .features__block {
    padding: 0px;
    margin: 0 auto;
  }

  .feature-tablet {
    white-space: nowrap;
    padding-bottom: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }

  .slider-dots {
    padding-bottom: 28px;
  }

  .card-btn-container {
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
  }

  .feature-content-tablet {
    display: block;
  }

  .feature__title,
  .features__text,
  .arrow-slider {
    display: none;
  }

  .feedback {
    height: 625px;
  }

  .feedback__title {
    padding-top: 52px;
    padding-bottom: 55px;
  }

  .review {
    height: 266px;
  }

  .review__container {
    padding-bottom: 36px;
  }

  .review__text {
    width: 410px;
  }

  .text-for-read-more {
    display: block;
  }

  .read__full {
    padding-top: 18px;
    display: block;
    font-size: 16px;
    color: #333333;
    text-decoration: underline;
    font-weight: 400;
    line-height: 21px;
  }

  .feedback__slider {
    padding-bottom: 56px;
    display: block;
    margin: 0 auto;
  }

  .order-discount-time,
  .feedback-form-title-desktop {
    display: none;
  }

  .feedback-form-container {
    width: 768px;
    padding-bottom: 74px;
  }

  .contacts__container {
    padding-left: 55px;
    padding-right: 48px;
  }

  .feedback-form-title {
    padding-top: 75px;
    padding-bottom: 4px;
    width: 394px;
    line-height: 48px;
    text-align: center;
    margin: 0 auto;
  }

  .contacts-form-text {
    padding-bottom: 68px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin: 0 auto;
  }

  .inp__contacts {
    padding-bottom: 48px;
  }

  .label-title {
    font-size: 20px;
    line-height: 31px;
  }

  .select-inp {
    margin-top: 12px;
  }

  .pay-method-radio-btn {
    padding-bottom: 52px;
  }

  .order__container {
    padding-left: 0px;
    margin: 0 auto;
  }

  .form-border {
    width: 295px;
    height: 57px;
  }

  .form-btn {
    width: 295px;
    height: 57px;
    font-size: 20px;
    line-height: 21px;
  }

  .personal-checkBox {
    padding-left: 12px;
  }

  .personal-data-label {
    font-size: 16px;
    line-height: 19px;
  }

  .map-contacts-tablet {
    display: block;
    padding-top: 60px;
    padding-bottom: 132px;
    margin: 0 auto;
    text-align: center;
  }

  .contact-city {
    padding-bottom: 12px;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    color: #333333;
  }

  .contact-phone,
  .contact-email {
    font-size: 32px;
    font-weight: 400;
    line-height: 50px;
    color: #333333;
  }

  .contact-line {
    width: 207px;
    border: 1px solid #333333;
    margin: 0 auto;
  }

  .footer {
    height: 1024px;
  }

  .footer__container {
    padding-top: 74px;
    text-align: center;
    width: 403px;
    flex-direction: column;
    gap: 0px;
  }

  .footer__logo {
    font-size: 64px;
    line-height: 78px;
  }

  .policy-agreement,
  .personal-inf {
    width: 403px;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
  }

  .policy-agreement {
    padding-top: 36px;
  }

  .personal-inf {
    line-height: 29px;
    padding-top: 20px;
  }

  .footer__nav {
    padding-top: 52px;
    padding-bottom: 40px;
  }

  .footer__link {
    font-size: 30px;
    line-height: 36px;
  }

  .footer__contacts {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .social {
    width: 298px;
    padding-top: 0px;
    padding-bottom: 34px;
    order: 1;
  }

  .footer__num {
    order: 2;
  }

  .phone-num {
    font-size: 32px;
    line-height: 42px;
    font-weight: 400;
    padding-bottom: 3px;
  }

  .phone-underline {
    width: 166px;
    margin-bottom: 34px;
  }

  .footer__btn {
    order: 3;
  }

  .callback__btn {
    font-size: 25px;
    padding: 15px 35px;
    line-height: 36px;
  }
}

@media (max-width: 767px) {
  .header__container {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 28px;
  }

  .header__logo {
    font-size: 18px;
    z-index: 3;
  }

  .arrow-menu {
    padding-top: 27px;
    padding-right: 15px;
  }

  .arrow-menu-img {
    width: 10px;
    height: 20px;
  }

  .header__menu {
    width: 100%;
    height: 600px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    text-align: left;
  }

  .menu__list {
    padding-top: 69px;
    padding-bottom: 48px;
  }

  .menu__item:nth-child(1) {
    width: 100%;
  }

  .menu__item {
    padding-left: 44px;
    padding-bottom: 20px;
  }

  .phone__num {
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 6px;
  }

  .phone-menu-underline {
    width: 116px;
  }

  .burger {
    width: 32px;
    height: 18px;
  }

  .banner {
    height: 600px;
  }

  .banner__title {
    margin: 0 auto;
    width: 200px;
    padding-top: 63px;
    font-size: 28px;
    line-height: 36px;
    padding-bottom: 6px;
  }

  .banner__text {
    font-size: 18px;
    line-height: 21px;
  }

  .phone-img-banner {
    display: block;
    position: relative;
    top: -35px;
    left: 10px;
    order: 3;
  }

  .banner__btn {
    top: -60px;
    width: 292px;
    height: 60px;
    line-height: 24px;
    font-size: 20px;
    padding: 18px 99px;
  }

  .tablet-img-banner,
  .border__btn,
  .banner__advantages {
    display: none;
  }

  .process__container {
    margin-top: 45px;
    height: 463px;
  }

  .process__title {
    width: 230px;
    font-size: 20px;
    margin: 0 auto;
  }

  .process__steps {
    padding-top: 20px;
    width: 290px;
    justify-content: space-between;
    gap: 15px;
  }

  .step__container {
    padding-left: 0px;
    display: flex;
    align-items: center;
  }

  .step-img {
    width: 66px;
    height: 54px;
  }

  .step__title {
    padding-top: 4px;
    padding-left: 12px;
    padding-right: 1px;
    width: 188px;
    font-size: 16px;
  }

  .step__text {
    display: none;
  }

  .arrow-img-phone {
    text-align: right;
    padding-left: 5px;
    display: block;
  }

  .prices {
    background-color: #f8fbff;
  }

  .prices__container {
    padding-top: 19px;
    height: 535px;
    width: 320px;
  }

  .prices__title {
    width: 60px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 4px;
  }

  .prices__text {
    width: 250px;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 20px;
  }

  .card__container {
    width: 320px;
  }

  .card__title {
    font-size: 18px;
  }

  .card__items {
    padding-top: 24px;
    padding-bottom: 44px;
    gap: 16px;
  }

  .card__text {
    height: 20px;
    font-size: 16px;
  }

  .card-price-text {
    padding-bottom: 67px;
  }

  .card-btn-order {
    padding-top: 17px;
    padding-bottom: 18px;
    padding-right: 100px;
    padding-left: 100px;
    font-size: 20px;
    line-height: 24px;
  }

  .card-btn-all-prices {
    display: flex;
    padding-top: 38px;
    padding-bottom: 0px;
    font-size: 16px;
    line-height: 21px;
  }

  .line-all-prices {
    width: 78px;
  }

  .autopark {
    height: 650px;
  }

  .autopark__container {
    padding-top: 30px;
    width: 320px;
  }

  .autopark__title {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 4px;
  }

  .autopark__text {
    width: 320px;
    font-size: 16px;
    padding-bottom: 12px;
  }

  .car-type-btn {
    width: 264px;
  }

  .type-btn {
    width: auto;
    height: 18px;
    font-size: 14px;
  }

  .slide {
    width: 300px;
  }

  .slider-main-img {
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 4px;
  }

  .main-img {
    width: 312px;
  }

  .feature-tablet {
    font-size: 14px;
    padding-bottom: 16px;
  }

  .slider-dots {
    padding-bottom: 24px;
  }

  .card-btn-container {
    padding-bottom: 48px;
  }

  .feedback__slider {
    display: none;
  }

  .feedback {
    height: 574px;
  }

  .feedback__title {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
    line-height: 24px;
  }

  .name-of-user {
    font-size: 18px;
    font-weight: 500;
  }

  .review__container {
    padding-bottom: 48px;
  }

  .review:nth-child(1),
  .review:nth-child(3) {
    display: none;
  }

  .review {
    width: 303px;
    height: 300px;
  }

  .review__text {
    width: 303px;
  }

  .read__full {
    padding-top: 14px;
    font-weight: 500;
  }

  .all-review-btn {
    width: 292px;
    height: 60px;
  }

  .select-city-container,
  .pay__method,
  .additional__services,
  .form-border {
    display: none;
  }

  .feedback-form-container {
    width: 302px;
    padding-bottom: 43px;
  }

  .contacts__container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .feedback-form-title {
    padding-top: 38px;
    padding-bottom: 8px;
    width: 222px;
    font-size: 20px;
    line-height: 24px;
  }

  .contacts-form-text {
    padding-bottom: 43px;
    width: 307px;
    font-size: 16px;
    line-height: 21px;
  }

  .inp__contacts {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 60px;
  }

  .order__wrapper {
    padding-top: 0px;
  }

  .order__container {
    width: 290px;
    padding-top: 0px;
    padding-left: 0px;
  }

  .form-btn {
    padding-top: 0px;
  }

  .form-btn {
    padding-bottom: 17px;
    width: 289px;
    height: 65px;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 19px;
    font-size: 20px;
    line-height: 24px;
  }

  .form-btn::before {
    content: "Перезвонить мне";
  }

  .personal-checkBox {
    padding-left: 18px;
  }

  .personal-data-label {
    font-size: 12px;
    line-height: 14px;
  }

  .map {
    height: 490px;
  }

  .map-contacts-tablet {
    padding-top: 20px;
    padding-bottom: 29px;
  }

  .contact-city {
    padding-bottom: 22px;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: #333333;
  }

  .contact-phone {
    padding-bottom: 20px;
  }

  .contact-phone,
  .contact-email {
    font-size: 15px;
    line-height: 19px;
  }

  .contact-line {
    margin-top: 4px;
    width: 107px;
    border: 1px solid #333333;
    margin: 0 auto;
  }

  .footer {
    height: 740px;
  }

  .footer__container {
    padding-top: 59px;
    width: 292px;
  }

  .footer__logo {
    font-size: 30px;
    line-height: 36px;
  }

  .policy-agreement,
  .personal-inf {
    margin: 0 auto;
    width: 238px;
    font-size: 16px;
    line-height: 20px;
  }

  .policy-agreement {
    padding-top: 35px;
  }

  .personal-inf {
    padding-top: 17px;
  }

  .footer__nav {
    padding-top: 45px;
    padding-bottom: 21px;
  }

  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }

  .footer__contacts {
    padding-top: 0px;
  }

  .social {
    margin: 0 auto;
    justify-content: center;
    width: 280px;
    padding-top: 0px;
    padding-bottom: 42px;
    gap: 30px;
  }

  .social-img {
    width: 18px;
    height: 18px;
  }

  .phone-num {
    font-size: 18px;
    line-height: 23px;
  }

  .phone-underline {
    margin-bottom: 45px;
  }

  .callback__btn {
    font-size: 20px;
    padding: 15px 40px;
  }
}
