:root {
  --main-text-color: #333333;
  --main-back-color: #fed100;
}

body {
  font-family: "Montserrat", system-ui;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  padding-top: 2.5rem;
  justify-content: space-between;
  display: flex;
  min-height: 2.3125rem;
  max-width: 82rem;
  margin: 0 auto;
  align-items: center;
}

.header__logo {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
  color: var(--main-text-color);
}

.menu__list {
  display: flex;
  gap: 3.125rem;
}

.menu__link {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.3125rem;
  color: var(--main-text-color);
}

.phone__num {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8125rem;
  text-decoration: underline;
  color: var(--main-text-color);
}

.menu__item:nth-child(1),
.arrow-menu,
.header__phone-menu,
.header__burger {
  display: none;
}

.burger {
  position: relative;
  width: 2.875rem;
  height: 1.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger .line {
  height: 0.125rem;
  background-color: var(--main-text-color);
}

.burger::before,
.burger::after {
  content: "";
  background-color: var(--main-text-color);
  height: 0.125rem;
}

.banner {
  background-color: var(--main-back-color);
  height: 40.625rem;
}

.banner__container {
  display: flex;
  align-items: center;
  max-width: 82rem;
  margin: 0 auto;
}

.banner__content {
  display: flex;
  flex-direction: column;
}

.banner__title {
  width: 30rem;
  padding-top: 4rem;
  padding-bottom: 1.75rem;
  font-size: 4.375rem;
  font-weight: 700;
  line-height: 4.5625rem;
  color: var(--main-text-color);
}

.banner__text {
  padding-bottom: 3.125rem;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
  color: var(--main-text-color);
}

.banner-btn__container {
  position: relative;
  display: inline-block;
}

.border__btn {
  top: 0.625rem;
  left: 0.625rem;
  position: absolute;
  width: 19rem;
  height: 3.75rem;
  border: 0.125rem solid #f2f2f2;
  z-index: 1;
  pointer-events: none;
}

.banner-btn__container:hover .border__btn {
  transition: 0.2s;
  background-color: #f2f2f2;
}

.banner__btn {
  position: relative;
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 0.9375rem;
  padding-left: 6rem;
  padding-right: 5.9375rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8125rem;
  font-family: inherit;
  color: #f2f2f2;
  background-color: #ff352b;
  z-index: 2;
}

.banner__btn:hover {
  transition: 0.2s;
  background-color: #ff772b;
}

.banner__advantages {
  display: flex;
  padding-top: 4rem;
  text-align: left;
}

.advantages__text {
  padding-left: 0.625rem;
  width: 8.125rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3125rem;
}

.desktop-img-banner {
  display: block;
  padding-left: 10.5625rem;
  padding-top: 1.3125rem;
}

.tablet-img-banner,
.arrow-img-phone {
  display: none;
}

.process__container {
  margin-top: 6rem;
  height: 21.4375rem;
}

.process__title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: var(--main-text-color);
  text-align: center;
  padding-bottom: 3.75rem;
}

.process__steps {
  display: flex;
  flex-wrap: wrap;
  width: 68.75rem;
  margin: 0 auto;
  justify-content: space-between;
  gap: 3rem;
}

.step__container {
  padding-left: 2.25rem;
  display: block;
}

.step-img {
  width: 4.25rem;
  height: 3.8125rem;
}

.step__title {
  width: 24.125rem;
  padding-top: 0.375rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--main-text-color);
}

.step__text {
  width: 24.375rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3125rem;
}

.step {
  display: flex;
}

.step-num {
  width: 3.75rem;
  font-weight: 300;
  font-size: 3.125rem;
  color: var(--main-text-color);
  position: relative;
  text-shadow: 0.125rem 0 0 var(--main-back-color);
}

.prices__container {
  padding-top: 6.375rem;
  width: 81.5625rem;
  height: 51.875rem;
  text-align: center;
  margin: 0 auto;
}

.prices__title {
  padding-bottom: 1rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: var(--main-text-color);
}

.prices__text {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8125rem;
  color: var(--main-text-color);
  padding-bottom: 3.75rem;
}

.card__container {
  display: flex;
  width: 81.5625rem;
  justify-content: space-between;
}

.card:nth-child(2) {
  border: 1px solid var(--main-back-color);
}

.card {
  width: 26.3125rem;
  height: 36.1875rem;
  display: flex;
  justify-content: center;
  border: 1px solid #ebebeb;
  cursor: pointer;
}

.card:hover {
  transition: 0.2s;
  box-shadow: 0px 0.3125rem 1.875rem 0.0625rem rgba(34, 60, 80, 0.2);
}

.card__title {
  padding-top: 5.25rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8125rem;
  color: var(--main-text-color);
}

.card__items {
  padding-top: 3.75rem;
  padding-bottom: 3.8125rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3125rem;
}

.card-price-text {
  padding-bottom: 4.75rem;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
  color: var(--main-text-color);
}

.card-btn-order {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 4.8125rem;
  padding-right: 4.9375rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--main-text-color);
  background-color: var(--main-back-color);
}

.card-btn-order:hover {
  transition: 0.2s;
  color: #f2f2f2;
  box-shadow: 0px 0.25rem 1.5rem 0px var(--main-back-color);
}

.card-btn-all-prices {
  display: none;
}

.autopark {
  height: 50rem;
}

.autopark__container {
  padding-top: 6.375rem;
  margin-bottom: 2.5rem;
  width: 76.3125rem;
  margin: 0 auto;
  text-align: center;
}

.autopark__title {
  padding-bottom: 1rem;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
  color: var(--main-text-color);
}

.autopark__text {
  padding-bottom: 3.75rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8125rem;
  color: var(--main-text-color);
}

.car-type-btn {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}

.type-btn {
  display: flex;
  width: 12.5625rem;
  height: 3.125rem;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--main-text-color);
  border: 1px solid #ebebeb;
}

.type-btn._active {
  border: 1px solid var(--main-back-color);
}

.slider__container {
  display: flex;
}

.sliders {
  margin: 0 auto;
}

.slide {
  width: 62.5rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.arrow-slider {
  padding-top: 14.5625rem;
}

.features__block {
  width: 15.625rem;
  padding-top: 6rem;
}

.feature__title {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8125rem;
  color: var(--main-text-color);
}

.features__text {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2.375rem;
  padding-bottom: 2.9375rem;
  gap: 1.75rem;
  width: 15.625rem;
}

.feature__content {
  display: flex;
  width: 13.75rem;
}

.feature {
  white-space: nowrap;
  padding-left: 1rem;
  text-align: left;
  width: 14.375rem;
  font-size: 1rem;
  line-height: 1.3125rem;
  font-weight: 400;
}

.slider-main-img {
  margin-top: 2.875rem;
}

.feature-content-tablet {
  display: none;
}

.feedback {
  height: 41.625rem;
  background-color: var(--main-back-color);
}

.feedback__container {
  text-align: center;
}

.feedback__title {
  padding-top: 6.25rem;
  padding-bottom: 3.75rem;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
  color: var(--main-text-color);
}

.review__container {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  margin: 0 auto;
  padding-bottom: 4.75rem;
}

.review {
  width: 26.25rem;
  height: 15.5rem;
  text-align: left;
}

.name-of-user {
  padding-bottom: 0.625rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8125rem;
  color: var(--main-text-color);
}

.date-and-grade-container {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 1.25rem;
}

.date-of-comments {
  font-size: 1rem;
  line-height: 1.3125rem;
  font-weight: 400;
}

.review__text {
  width: 25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3125rem;
  color: var(--main-text-color);
}

.review-btn {
  display: flex;
  justify-content: center;
}

.all-review-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15.625rem;
  height: 3.125rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
}

.all-review-btn:hover {
  transition: 0.2s;
  font-weight: 700;
  border: none;
  background-color: #ffffff;
  color: var(--main-text-color);
}

.read__full,
.text-for-read-more,
.feedback__slider {
  display: none;
}

.feedback-form-container {
  width: 45.5625rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 6.5rem;
}

.contacts__container {
  padding-left: 0.6875rem;
  padding-right: 2.75rem;
}

.feedback-form-title {
  padding-bottom: 0.625rem;
  padding-top: 7.75rem;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
  color: var(--main-text-color);
}

.contacts-form-text {
  padding-bottom: 3rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3125rem;
  color: var(--main-text-color);
}

.inp__contacts {
  padding-bottom: 4rem;
  display: flex;
  gap: 4.375rem;
}

.contact-inp {
  display: block;
  width: 18.75rem;
  height: 2.125rem;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.25rem;
  padding-bottom: 0.875rem;
  border-bottom: 0.125rem solid var(--main-text-color);
  color: var(--main-text-color);
}

.select-city-container {
  display: flex;
  gap: 4.375rem;
  padding-bottom: 3.875rem;
}

.label-title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: var(--main-text-color);
}

.select-inp {
  display: block;
  width: 18.75rem;
  height: 2.125rem;
  font-family: inherit;
  font-size: 1rem;
  margin-top: 2.125rem;
  border-bottom: 0.125rem solid var(--main-text-color);
  padding-bottom: 0.875rem;
  color: var(--main-text-color);
}

.pay-method-radio-btn {
  padding-top: 2rem;
  padding-bottom: 4rem;
  display: flex;
  width: 42.5rem;
  justify-content: space-between;
}

.radio-inp {
  display: none;
}

.radio-btn-text {
  display: flex;
  height: 1.625rem;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 2.5rem;
  user-select: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3125rem;
  color: var(--main-text-color);
}

.radio-btn-text::before {
  left: 0;
  content: "";
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  border-radius: 100%;
  border: 0.125rem solid #33333366;
  background-color: #f8f8f8;
}

.radio-inp:checked + .radio-btn-text::before {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100%;
  border: 0.125rem solid #fed100;
  background: url("../img/feedback-form/icons/radio-btn-selected.svg") 0 0
    no-repeat;
  background-position: center;
}

.additional-services-title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: var(--main-text-color);
  padding-bottom: 2.125rem;
  cursor: pointer;
}

.additional-services-checkBox {
  display: flex;
  gap: 2.5rem;
  padding-bottom: 2.0625rem;
}

.additional-inp {
  display: none;
}

.add-checkbox {
  display: flex;
  white-space: nowrap;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 2.25rem;
  user-select: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3125rem;
  color: #333333;
}

.add-checkbox::before {
  left: 0;
  content: "";
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  border-radius: 2px;
  border: 0.125rem solid #33333366;
  background-color: #f8f8f8;
}

.additional-inp:checked + .add-checkbox::before {
  width: 1.25rem;
  height: 1.25rem;
  border: 0.125rem solid var(--main-back-color);
  border-radius: 2px;
  background: url("../img/feedback-form/icons/checked.svg") 0 0 no-repeat;
  background-position: center;
}

.order__wrapper {
  padding-top: 1.25rem;
  display: flex;
}

.order-discount-time {
  width: 23.5rem;
  font-size: 6rem;
  font-weight: 400;
  line-height: 7.875rem;
  color: var(--main-text-color);
}

.order__container {
  padding-top: 1.25rem;
  padding-left: 4.125rem;
}

.feedback-form-order {
  position: relative;
  display: inline-block;
  padding-bottom: 1.375rem;
}

.form-border {
  top: 0.625rem;
  left: 0.625rem;
  position: absolute;
  width: 15.625rem;
  height: 3.125rem;
  border: 0.125rem solid var(--main-back-color);
  z-index: 1;
  pointer-events: none;
}

.form-btn {
  width: 15.625rem;
  height: 3.125rem;
  font-family: inherit;
  text-align: center;
  align-items: center;
  position: relative;
  display: inline-block;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.1875rem;
  color: #f2f2f2;
  background-color: #ff352b;
  z-index: 2;
}

.form-btn::before {
  content: "Заказать со скидкой";
}

.personal-data {
  display: none;
}

.personal-data-label {
  display: flex;
  white-space: nowrap;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 1.5625rem;
  user-select: none;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem;
  color: #333333;
}

.personal-data-label::before {
  left: 0;
  content: "";
  display: inline-block;
  width: 0.7375rem;
  height: 0.7375rem;
  position: absolute;
  border-radius: 2px;
  border: 0.125rem solid #33333366;
}

.personal-data:checked + .personal-data-label::before {
  width: 1rem;
  height: 1rem;
  border: none;
  background: url("../img/feedback-form/icons/personal-data-checked.svg") 0 0
    no-repeat;
}

.map {
  width: 100%;
  height: 41.625rem;
}

.map-contacts-tablet {
  display: none;
}

.footer {
  width: 100%;
  height: 25.0625rem;
  background-color: var(--main-back-color);
}

.footer__container {
  padding-top: 6.125rem;
  width: 81.25rem;
  display: flex;
  gap: 12.5rem;
  margin: 0 auto;
}

.footer__logo {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
  color: var(--main-text-color);
}

.policy-agreement,
.personal-inf {
  width: 14.375rem;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: var(--main-text-color);
}

.policy-agreement {
  padding-top: 2.5rem;
}

.personal-inf {
  padding-top: 2.25rem;
}

.footer__item {
  padding-bottom: 1rem;
}

.footer__link {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--main-text-color);
}

.footer__contacts {
  width: 19.25rem;
  padding-top: 0.75rem;
}

.footer__btn {
  text-align: center;
}

.callback__btn {
  margin-bottom: 0.375rem;
  padding: 0.625rem 1.875rem;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
}

.phone-num {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  color: var(--main-text-color);
}

.phone-underline {
  margin: 0 auto;
  width: 10.6875rem;
  height: 0.0625rem;
  background-color: var(--main-text-color);
}

.social {
  padding-top: 1.625rem;
  display: flex;
  gap: 3.4375rem;
}

@media (max-width: 64rem) {
  .header__container {
    height: 3.125rem;
    padding-left: 1.75rem;
    padding-right: 2.0625rem;
    padding-top: 1.3125rem;
  }

  .header__menu {
    position: fixed;
    height: 64rem;
    width: 18.75rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    top: 0;
    right: 0;
    transform: translate(200%, 0px);
    transition: 0.3s ease;
    z-index: 2;
    background-color: #ffffff;
  }

  .arrow-menu {
    display: block;
    text-align: right;
    padding-top: 1.6875rem;
    padding-right: 2.875rem;
  }

  .header__menu._active {
    transform: translate(0px, 0px);
  }

  .menu__list {
    padding-top: 6.25rem;
    padding-bottom: 3.5rem;
    display: block;
  }

  .menu__item {
    padding-left: 2.375rem;
    padding-bottom: 2.5rem;
  }

  .menu__item:nth-child(1) {
    display: block;
    background-color: #000000;
    width: 18.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .menu__item:nth-child(1) .menu__link {
    color: #f2f2f2;
  }

  .menu__link {
    font-size: 1.75rem;
    line-height: 2.125rem;
  }

  .header__phone-menu {
    display: block;
    text-align: center;
  }

  .phone__num {
    font-size: 1.5rem;
    line-height: 1.8125rem;
    text-decoration: none;
    padding-bottom: 0.5rem;
  }

  .phone-menu-underline {
    width: 10.3125rem;
    border: 0.0625rem solid var(--main-text-color);
    margin: 0 auto;
    border-radius: 0.0625rem;
  }

  .header__phone {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .banner {
    height: 64rem;
  }

  .banner__container {
    flex-direction: column;
    text-align: center;
  }

  .desktop-img-banner {
    display: none;
  }

  .banner__title {
    width: 37.25rem;
    padding-top: 6.0625rem;
    padding-bottom: 0.625rem;
    font-size: 3.5rem;
    line-height: 4.125rem;
    order: 1;
  }

  .banner__text {
    padding-bottom: 0rem;
    font-weight: 600;
    font-size: 2.25rem;
    order: 2;
  }

  .tablet-img-banner {
    position: relative;
    top: -2.8125rem;
    left: 1.875rem;
    display: block;
    padding-top: 0;
    order: 3;
  }

  .banner-btn__container {
    padding-bottom: 0rem;
    order: 4;
  }

  .border__btn {
    top: -2.5rem;
    left: 7.1875rem;
    width: 23.9375rem;
    height: 4.75rem;
  }

  .banner__btn {
    top: -3.125rem;
    height: 4.75rem;
    width: 23.9375rem;
    padding-top: 1.125rem;
    padding-bottom: 1.75rem;
    padding-left: 7.25rem;
    padding-right: 7.3125rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 0rem;
  }

  .banner__advantages {
    padding-top: 0rem;
    padding-left: 1.5625rem;
    order: 5;
  }

  .process__container {
    margin-top: 6.3125rem;
    height: 50.75rem;
  }

  .process__steps {
    padding-top: 2.5rem;
    width: 37.5rem;
    justify-content: center;
    gap: 1.5rem;
  }

  .step-num {
    width: 6.25rem;
    font-size: 5.625rem;
  }

  .step__title {
    width: 28.75rem;
    padding-top: 0.75rem;
    padding-bottom: 1.0625rem;
    font-size: 1.5rem;
  }

  .step__text {
    width: 26.5625rem;
  }

  .arrow-img-phone {
    display: none;
  }

  .prices {
    background-color: #f8fbff;
  }

  .prices__container {
    padding-top: 3.75rem;
    width: 48rem;
    height: 51rem;
  }

  .process__title {
    padding-bottom: 0.75rem;
  }

  .prices__text {
    width: 33.75rem;
    margin: 0 auto;
    padding-bottom: 2.8125rem;
  }

  .card__container {
    width: 48rem;
    justify-content: center;
  }

  .card:nth-child(2) {
    width: 22.375rem;
    border: none;
  }

  .card:nth-child(1),
  .card:nth-child(3) {
    display: none;
  }

  .card__title {
    padding-top: 0rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .card__items {
    padding-top: 2.8125rem;
    padding-bottom: 3rem;
  }

  .card__text {
    height: 2.4375rem;
    font-size: 1.125rem;
    line-height: 1.4375rem;
  }

  .card-price-text {
    padding-bottom: 2.8125rem;
  }

  .card-btn-order {
    padding-top: 1.25rem;
    padding-bottom: 1.125rem;
    padding-right: 7.125rem;
    padding-left: 7.125rem;
    font-size: 1.75rem;
  }

  .card-btn-all-prices {
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    font-size: 1.5625rem;
    font-weight: 500;
    line-height: 2rem;
    color: var(--main-text-color);
  }

  .line-all-prices {
    width: 9.25rem;
    border: 0.0625rem solid var(--main-text-color);
    margin: 0 auto;
  }

  .autopark {
    height: 62.5rem;
  }

  .autopark__container {
    width: 34.375rem;
  }

  .autopark__title {
    padding-bottom: 1.25rem;
  }

  .autopark__text {
    padding-bottom: 2.875rem;
  }

  .car-type-btn {
    width: 28.25rem;
    justify-content: space-between;
    margin: 0 auto;
  }

  .type-btn {
    width: auto;
    height: 1.875rem;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    font-weight: 400;
    border: none;
  }

  .type-btn._active {
    font-weight: 500;
    border: none;
    border-bottom: 0.125rem solid var(--main-back-color);
  }

  .slide {
    width: 34.375rem;
    flex-direction: column;
  }

  .features__block {
    order: 2;
  }

  .slider-main-img {
    padding-top: 3.875rem;
    padding-left: 1.125rem;
    padding-bottom: 0.75rem;
    order: 1;
  }

  .main-img {
    width: 32.375rem;
  }

  .features__block {
    padding: 0;
    margin: 0 auto;
  }

  .feature-tablet {
    white-space: nowrap;
    padding-bottom: 1.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
  }

  .slider-dots {
    padding-bottom: 1.75rem;
  }

  .card-btn-container {
    display: flex;
    justify-content: center;
    padding-bottom: 5.625rem;
  }

  .feature-content-tablet {
    display: block;
  }

  .feature__title,
  .features__text,
  .arrow-slider {
    display: none;
  }

  .feedback {
    height: 39.0625rem;
  }

  .feedback__title {
    padding-top: 3.25rem;
    padding-bottom: 3.4375rem;
  }

  .review {
    height: 16.625rem;
  }

  .review__container {
    padding-bottom: 2.25rem;
  }

  .review__text {
    width: 25.625rem;
  }

  .text-for-read-more {
    display: block;
  }

  .read__full {
    padding-top: 1.125rem;
    display: block;
    font-size: 1rem;
    color: var(--main-text-color);
    text-decoration: underline;
    font-weight: 400;
    line-height: 1.3125rem;
  }

  .feedback__slider {
    padding-bottom: 3.5rem;
    display: block;
    margin: 0 auto;
  }

  .order-discount-time,
  .feedback-form-title-desktop {
    display: none;
  }

  .feedback-form-container {
    width: 48rem;
    padding-bottom: 4.625rem;
  }

  .contacts__container {
    padding-left: 3.4375rem;
    padding-right: 3rem;
  }

  .feedback-form-title {
    padding-top: 4.6875rem;
    padding-bottom: 0.25rem;
    width: 24.625rem;
    line-height: 3rem;
    text-align: center;
    margin: 0 auto;
  }

  .contacts-form-text {
    padding-bottom: 4.25rem;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    margin: 0 auto;
  }

  .inp__contacts {
    padding-bottom: 3rem;
  }

  .label-title {
    font-size: 1.25rem;
    line-height: 1.9375rem;
  }

  .select-inp {
    margin-top: 0.75rem;
  }

  .pay-method-radio-btn {
    padding-bottom: 3.25rem;
  }

  .order__container {
    padding-left: 0;
    margin: 0 auto;
  }

  .form-border {
    width: 18.4375rem;
    height: 3.5625rem;
  }

  .form-btn {
    width: 18.4375rem;
    height: 3.5625rem;
    font-size: 1.25rem;
    line-height: 1.3125rem;
  }

  .personal-checkBox {
    padding-left: 0.75rem;
  }

  .personal-data-label {
    font-size: 1rem;
    line-height: 1.1875rem;
  }

  .map-contacts-tablet {
    display: block;
    padding-top: 3.75rem;
    padding-bottom: 8.25rem;
    margin: 0 auto;
    text-align: center;
  }

  .contact-city {
    padding-bottom: 0.75rem;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3.25rem;
    color: var(--main-text-color);
  }

  .contact-phone,
  .contact-email {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.125rem;
    color: var(--main-text-color);
  }

  .contact-line {
    width: 12.9375rem;
    border: 0.0625rem solid var(--main-text-color);
    margin: 0 auto;
  }

  .footer {
    height: 64rem;
  }

  .footer__container {
    padding-top: 4.625rem;
    text-align: center;
    width: 25.1875rem;
    flex-direction: column;
    gap: 0;
  }

  .footer__logo {
    font-size: 4rem;
    line-height: 4.875rem;
  }

  .policy-agreement,
  .personal-inf {
    width: 25.1875rem;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.9375rem;
  }

  .policy-agreement {
    padding-top: 2.25rem;
  }

  .personal-inf {
    line-height: 1.8125rem;
    padding-top: 1.25rem;
  }

  .footer__nav {
    padding-top: 3.25rem;
    padding-bottom: 2.5rem;
  }

  .footer__link {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .footer__contacts {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .social {
    width: 18.625rem;
    padding-top: 0;
    padding-bottom: 2.125rem;
    order: 1;
  }

  .footer__num {
    order: 2;
  }

  .phone-num {
    font-size: 2rem;
    line-height: 2.625rem;
    font-weight: 400;
    padding-bottom: 0.1875rem;
  }

  .phone-underline {
    width: 10.375rem;
    margin-bottom: 2.125rem;
  }

  .footer__btn {
    order: 3;
  }

  .callback__btn {
    font-size: 1.5625rem;
    padding: 0.9375rem 2.1875rem;
    line-height: 2.25rem;
  }
}

@media (max-width: 47.937rem) {
  .header__container {
    padding-left: 0.875rem;
    padding-right: 0.875rem;
    padding-top: 1.75rem;
  }

  .header__logo {
    font-size: 1.125rem;
    z-index: 3;
  }

  .arrow-menu {
    padding-top: 1.6875rem;
    padding-right: 0.9375rem;
  }

  .arrow-menu-img {
    width: 0.625rem;
    height: 1.25rem;
  }

  .header__menu {
    width: 100%;
    height: 37.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: left;
  }

  .menu__list {
    padding-top: 4.3125rem;
    padding-bottom: 3rem;
  }

  .menu__item:nth-child(1) {
    width: 100%;
  }

  .menu__item {
    padding-left: 2.75rem;
    padding-bottom: 1.25rem;
  }

  .phone__num {
    font-size: 1.125rem;
    line-height: 1.3125rem;
    padding-bottom: 0.375rem;
  }

  .phone-menu-underline {
    width: 7.25rem;
  }

  .burger {
    width: 2rem;
    height: 1.125rem;
  }

  .banner {
    height: 37.5rem;
  }

  .banner__title {
    margin: 0 auto;
    width: 12.5rem;
    padding-top: 3.9375rem;
    font-size: 1.75rem;
    line-height: 2.25rem;
    padding-bottom: 0.375rem;
  }

  .banner__text {
    font-size: 1.125rem;
    line-height: 1.3125rem;
  }

  .tablet-img-banner {
    display: block;
    position: relative;
    top: -2.1875rem;
    left: 0.625rem;
    order: 3;
  }

  .img-banner {
    width: 15.5rem;
  }

  .banner__btn {
    top: -3.75rem;
    width: 18.25rem;
    height: 3.75rem;
    line-height: 1.5rem;
    font-size: 1.25rem;
    padding: 1.125rem 6.1875rem;
  }

  .border__btn,
  .banner__advantages {
    display: none;
  }

  .process__container {
    margin-top: 2.8125rem;
    height: 29.0625rem;
  }

  .process__title {
    width: 14.375rem;
    font-size: 1.25rem;
    margin: 0 auto;
  }

  .process__steps {
    padding-top: 1.25rem;
    width: 18.125rem;
    justify-content: space-between;
    gap: 0.9375rem;
  }

  .step__container {
    padding-left: 0;
    display: flex;
    align-items: center;
  }

  .step-num {
    width: 4.125rem;
    font-size: 3.125rem;
  }

  .step__title {
    padding-top: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.0625rem;
    width: 11.75rem;
    font-size: 1rem;
  }

  .step__text {
    display: none;
  }

  .arrow-img-phone {
    text-align: right;
    padding-left: 0.3125rem;
    display: block;
  }

  .prices {
    background-color: #f8fbff;
  }

  .prices__container {
    padding-top: 1.1875rem;
    height: 33.4375rem;
    width: 20rem;
  }

  .prices__title {
    width: 3.75rem;
    margin: 0 auto;
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding-bottom: 0.25rem;
  }

  .prices__text {
    width: 15.625rem;
    font-size: 1rem;
    line-height: 1.1875rem;
    padding-bottom: 1.25rem;
  }

  .card__container {
    width: 20rem;
  }

  .card__title {
    font-size: 1.125rem;
  }

  .card__items {
    padding-top: 1.5rem;
    padding-bottom: 2.75rem;
    gap: 1rem;
  }

  .card__text {
    height: 1.25rem;
    font-size: 1rem;
  }

  .card-price-text {
    padding-bottom: 4.1875rem;
  }

  .card-btn-order {
    padding-top: 1.0625rem;
    padding-bottom: 1.125rem;
    padding-right: 6.25rem;
    padding-left: 6.25rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .card-btn-all-prices {
    display: flex;
    padding-top: 2.375rem;
    padding-bottom: 0;
    font-size: 1rem;
    line-height: 1.3125rem;
  }

  .line-all-prices {
    width: 4.875rem;
  }

  .autopark {
    height: 40.625rem;
  }

  .autopark__container {
    padding-top: 1.875rem;
    width: 20rem;
  }

  .autopark__title {
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding-bottom: 0.25rem;
  }

  .autopark__text {
    width: 20rem;
    font-size: 1rem;
    padding-bottom: 0.75rem;
  }

  .car-type-btn {
    width: 16.5rem;
  }

  .type-btn {
    width: auto;
    height: 1.125rem;
    font-size: 0.875rem;
  }

  .slide {
    width: 18.75rem;
  }

  .slider-main-img {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0.25rem;
  }

  .main-img {
    width: 19.5rem;
  }

  .feature-tablet {
    font-size: 0.875rem;
    padding-bottom: 1rem;
  }

  .slider-dots {
    padding-bottom: 1.5rem;
  }

  .card-btn-container {
    padding-bottom: 3rem;
  }

  .feedback__slider {
    display: none;
  }

  .feedback {
    height: 35.875rem;
  }

  .feedback__title {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .name-of-user {
    font-size: 1.125rem;
    font-weight: 500;
  }

  .review__container {
    padding-bottom: 3rem;
  }

  .review:nth-child(1),
  .review:nth-child(3) {
    display: none;
  }

  .review {
    width: 18.9375rem;
    height: 18.75rem;
  }

  .review__text {
    width: 18.9375rem;
  }

  .read__full {
    padding-top: 0.875rem;
    font-weight: 500;
  }

  .all-review-btn {
    width: 18.25rem;
    height: 3.75rem;
  }

  .select-city-container,
  .pay__method,
  .additional__services,
  .form-border {
    display: none;
  }

  .feedback-form-container {
    width: 18.875rem;
    padding-bottom: 2.6875rem;
  }

  .contacts__container {
    padding-left: 0;
    padding-right: 0;
  }

  .feedback-form-title {
    padding-top: 2.375rem;
    padding-bottom: 0.5rem;
    width: 13.875rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .contacts-form-text {
    padding-bottom: 2.6875rem;
    width: 19.1875rem;
    font-size: 1rem;
    line-height: 1.3125rem;
  }

  .inp__contacts {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
    padding-bottom: 3.75rem;
  }

  .order__wrapper {
    padding-top: 0;
  }

  .order__container {
    width: 18.125rem;
    padding-top: 0;
    padding-left: 0;
  }

  .form-btn {
    padding-top: 0;
  }

  .form-btn {
    padding-bottom: 1.0625rem;
    width: 18.125rem;
    height: 4.0625rem;
    font-weight: 500;
    padding-top: 0.9375rem;
    padding-bottom: 1.1875rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .form-btn::before {
    content: "Перезвонить мне";
  }

  .personal-checkBox {
    padding-left: 1.125rem;
  }

  .personal-data-label {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }

  .map {
    height: 30.625rem;
  }

  .map-contacts-tablet {
    padding-top: 1.25rem;
    padding-bottom: 1.8125rem;
  }

  .contact-city {
    padding-bottom: 1.375rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.1875rem;
    color: var(--main-text-color);
  }

  .contact-phone {
    padding-bottom: 1.25rem;
  }

  .contact-phone,
  .contact-email {
    font-size: 0.9375rem;
    line-height: 1.1875rem;
  }

  .contact-line {
    margin-top: 0.25rem;
    width: 6.6875rem;
    border: 1px solid var(--main-text-color);
    margin: 0 auto;
  }

  .footer {
    height: 46.25rem;
  }

  .footer__container {
    padding-top: 3.6875rem;
    width: 18.25rem;
  }

  .footer__logo {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .policy-agreement,
  .personal-inf {
    margin: 0 auto;
    width: 14.875rem;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .policy-agreement {
    padding-top: 2.1875rem;
  }

  .personal-inf {
    padding-top: 1.0625rem;
  }

  .footer__nav {
    padding-top: 2.8125rem;
    padding-bottom: 1.3125rem;
  }

  .footer__link {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .footer__contacts {
    width: 18.31rem;
    padding-top: 0;
  }

  .social {
    margin: 0 auto;
    justify-content: center;
    width: 17.5rem;
    padding-top: 0;
    padding-bottom: 2.625rem;
    gap: 1.875rem;
  }

  .social-img {
    width: 1.125rem;
    height: 1.125rem;
  }

  .phone-num {
    font-size: 1.2rem;
    line-height: 1.4375rem;
  }

  .phone-underline {
    margin-bottom: 2.8125rem;
  }

  .callback__btn {
    font-size: 1.25rem;
    padding: 0.9375rem 2.5rem;
  }
}
