body {
  font-family: "Montserrat", system-ui;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  padding-top: 40px;
  justify-content: space-between;
  display: flex;
  min-height: 37px;
  max-width: 1312px;
  margin: 0 auto;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #333333;
}

.menu__list {
  display: flex;
  gap: 50px;
}

.menu__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #333333;
}

.header__phone {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-decoration: underline;
}

.header__burger {
  display: none;
}

.burger {
  position: relative;
  width: 46px;
  height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger .line {
  height: 2px;
  background-color: #333333;
}

.burger::before,
.burger::after {
  content: "";
  background-color: #333333;
  height: 2px;
}

.banner {
  background-color: #fed100;
  height: 650px;
}

.banner__container {
  display: flex;
  align-items: center;
  max-width: 1312px;
  margin: 0 auto;
}

.banner__content {
  display: flex;
  flex-direction: column;
}

.banner__title {
  width: 480px;
  padding-top: 64px;
  padding-bottom: 28px;
  font-size: 70px;
  font-weight: 700;
  line-height: 73px;
  color: #333333;
}

.banner__text {
  padding-bottom: 50px;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #333333;
}

.banner-btn__container {
  position: relative;
  display: inline-block;
}

.border__btn {
  top: 10px;
  left: 10px;
  position: absolute;
  width: 304px;
  height: 60px;
  border: 2px solid #f2f2f2;
  z-index: 1;
  pointer-events: none;
}

.banner__btn {
  position: relative;
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 96px;
  padding-right: 95px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #f2f2f2;
  background-color: #ff352b;
  z-index: 2;
}

.banner__advantages {
  display: flex;
  padding-top: 64px;
  text-align: left;
}

.advantages__text {
  padding-left: 10px;
  width: 130px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.tablet-img-banner {
  display: none;
}

.desktop-img-banner {
  display: block;
  padding-left: 169px;
  padding-top: 21px;
}

.phone-img-banner {
  display: none;
}

.step-img-tablet {
  display: none;
}

.arrow-img-phone {
  display: none;
}

.process__container {
  margin-top: 96px;
  height: 343px;
}

.process__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  color: #333333;
  text-align: center;
  padding-bottom: 60px;
}

.process__steps {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
  gap: 48px;
}

.step__container {
  padding-left: 36px;
  display: block;
}

.step__title {
  width: 386px;
  padding-top: 6px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #333333;
}

.step__text {
  width: 390px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.step {
  display: flex;
}

.prices__container {
  padding-top: 102px;
  width: 1305px;
  height: 830px;
  text-align: center;
  margin: 0 auto;
}

.prices__title {
  padding-bottom: 16px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  color: #333333;
}

.prices__text {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #333333;
  padding-bottom: 60px;
}

.card__container {
  display: flex;
  width: 1305px;
  justify-content: space-between;
}

.card:nth-child(2) {
  border: 1px solid #fed100;
}

.card {
  width: 421px;
  height: 579px;
  display: flex;
  justify-content: center;
  border: 1px solid #ebebeb;
}

.card__title {
  padding-top: 84px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #333333;
}

.card__items {
  padding-top: 60px;
  padding-bottom: 61px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.card-price-text {
  padding-bottom: 76px;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #333333;
}

.card-btn-order {
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 77px;
  padding-right: 79px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #333333;
  background-color: #fed100;
}

.card-btn-all-prices {
  display: none;
}

@media (max-width: 1024px) {
  .header__container {
    height: 50px;
    padding-left: 28px;
    padding-right: 33px;
    padding-top: 21px;
  }

  .header__menu {
    display: none;
  }

  .header__phone {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .banner {
    height: 1024px;
  }

  .banner__container {
    flex-direction: column;
    text-align: center;
  }

  .desktop-img-banner {
    display: none;
  }

  .banner__title {
    width: 596px;
    padding-top: 97px;
    padding-bottom: 10px;
    font-size: 56px;
    line-height: 66px;
    order: 1;
  }

  .banner__text {
    padding-bottom: 0px;
    font-weight: 600;
    font-size: 36px;
    order: 2;
  }

  .tablet-img-banner {
    position: relative;
    top: -45px;
    left: 30px;
    display: block;
    padding-top: 0;
    order: 3;
  }

  .banner-btn__container {
    padding-bottom: 0px;
    order: 4;
  }

  .border__btn {
    top: -40px;
    left: 115px;
    width: 383px;
    height: 76px;
  }

  .banner__btn {
    top: -50px;
    height: 76px;
    width: 383px;
    padding-top: 18px;
    padding-bottom: 28px;
    padding-left: 116px;
    padding-right: 117px;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 0px;
  }

  .banner__advantages {
    padding-top: 0px;
    padding-left: 25px;
    order: 5;
  }

  .process__container {
    margin-top: 101px;
    height: 812px;
  }

  .process__steps {
    padding-top: 40px;
    width: 600px;
    justify-content: center;
    gap: 24px;
  }

  .step__title {
    width: 460px;
    padding-top: 12px;
    padding-bottom: 17px;
    font-size: 24px;
  }

  .step__text {
    width: 425px;
  }

  .step-img-desktop {
    display: none;
  }

  .step-img-tablet {
    display: block;
  }

  .arrow-img-phone {
    display: none;
  }

  .prices{
    background-color: #f8fbff;
  }

  .prices__container {
    padding-top: 60px;
    width: 768px;
    height: 816px;
  }

  .process__title {
    padding-bottom: 12px;
  }

  .prices__text {
    width: 540px;
    margin: 0 auto;
    padding-bottom: 45px;
  }

  .card__container {
    width: 768px;
    justify-content: center;
  }

  .card:nth-child(2) {
    width: 358px;
    border: none;
  }

  .card:nth-child(1),
  .card:nth-child(3) {
    display: none;
  }

  .card__title{
    padding-top: 0px;
    font-size: 24px;
    font-weight: 500;
  }

  .card__items {
    padding-top: 45px;
    padding-bottom: 48px;
  }

  .card__text{
    height: 39px;
    font-size: 18px;
    line-height: 23px;
  }

  .card-price-text{
    padding-bottom: 45px;
  }

  .card-btn-order{
    padding-top: 20px;
    padding-bottom: 18px;
    padding-right: 114px;
    padding-left: 114px;
    font-size: 28px;
  }

  .card-btn-all-prices {
    padding-top: 48px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
    line-height: 32px;
    color: #333333;
  }

  .line-all-prices{
    width: 148px;
    border: 1px solid #333333;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .header__container {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 28px;
  }

  .header__logo {
    font-size: 18px;
  }

  .burger {
    width: 32px;
    height: 18px;
  }

  .banner {
    height: 600px;
  }

  .banner__title {
    margin: 0 auto;
    width: 200px;
    padding-top: 63px;
    font-size: 28px;
    line-height: 36px;
    padding-bottom: 6px;
  }

  .tablet-img-banner {
    display: none;
  }

  .banner__text {
    font-size: 18px;
    line-height: 21px;
  }

  .phone-img-banner {
    display: block;
    position: relative;
    top: -35px;
    left: 10px;
    order: 3;
  }

  .border__btn {
    display: none;
  }

  .banner__btn {
    top: -60px;
    width: 292px;
    height: 60px;
    line-height: 24px;
    font-size: 20px;
    padding: 18px 99px;
  }

  .banner__advantages {
    display: none;
  }

  .process__container {
    margin-top: 45px;
    height: 500px;
  }

  .process__title {
    width: 230px;
    font-size: 20px;
    margin: 0 auto;
  }

  .process__steps {
    padding-top: 20px;
    width: 280px;
    justify-content: space-between;
  }

  .step__container {
    padding-left: 0px;
    display: flex;
    align-items: center;
  }

  .step__title {
    padding-top: 4px;
    padding-left: 12px;
    padding-right: 1px;
    width: 188px;
    font-size: 16px;
  }

  .step__text {
    display: none;
  }

  .step-img-tablet {
    display: none;
  }

  .step-img-desktop {
    display: block;
  }

  .arrow-img-phone {
    display: block;
  }

  .prices{
    background-color: #F8FBFF;
  }

  .prices__container{
    padding-top: 19px;
    height: 535px;
    width: 320px;
  }

  .prices__title {
    width: 60px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 4px;
  }

  .prices__text{
    width: 250px;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 20px;
  }

  .card__container{
    width: 320px;
  }

  .card__title{
    font-size: 18px;
  }

  .card__items{
    padding-top: 24px;
    padding-bottom: 44px;
    gap: 16px;
  }

  .card__text{
    height: 20px;
    font-size: 16px;
  }

  .card-price-text{
    padding-bottom: 67px;
  }

  .card-btn-order{
    padding-top: 17px;
    padding-bottom: 18px;
    padding-right: 100px;
    padding-left: 100px;
    font-size: 20px;
    line-height: 24px;
  }

  .card-btn-all-prices {
    display: flex;
    padding-top: 38px;
    padding-bottom: 0px;
    font-size: 16px;
    line-height: 21px;
  }

  .line-all-prices{
    width: 78px;
  }
}
